@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  font-family: "JetBrains Mono", monospace;
  background-color: #152340;
  color: #fff;
  line-height: 1.7;
  background-image: url(./assets/bg-texture.png);
}
